doctype html
html(amp)
  head
    meta(charset="utf-8")
    title #{post.title} | log.pocka.io

    //- Device scaling (required)
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")

    //- URI to normal page (required)
    link(rel="canonical", href=`/posts/${post.name}`)

    //- WebFonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/earlyaccess/mplus1p.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cairo|Raleway|Saira+Semi+Condensed")

    //- User style (Other custom style not allowed)
    style(amp-custom) !{css}

    //- AMP boilerplate code (required)
    style(amp-boilerplate) body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}

    //- AMP boilerplate code for <noscript> (required)
    noscript
      style(amp-boilerplate) body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

    //- AMP components (optional)
    script(async, custom-element="amp-youtube", src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js")

    //- Google Analytics
    script(async, custom-element="amp-analytics", src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")

    //- AMP script (required)
    if !nojs
      script(async, src="https://cdn.ampproject.org/v0.js")
  body
    amp-analytics(type="gtag", data-credentials="include")
      script(type="application/json").
        {
          "vars" : {
            "gtag_id": "UA-40502013-5",
            "config" : {
              "UA-40502013-5": { "groups": "default" }
            }
          }
        }

    nav.navbar
      .navbar-brand
        .container.level
          .level-item.has-text-centered
            a.navbar-item.brand.logo(href="/") log.pocka.io
    main
      article
        header
          div.hero.is-dark
            div.hero-body
              h1.title.is-5= post.title
              .tags
                for tag in post.tags
                  a.tag.is-light.button(href=`/tags/${tag}`)= tag
              .dates
                .date 作成: #{post.createdAt}
                .date
                  time 更新: #{post.updatedAt}
        section.content !{post.__content}
             