doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="me", href="https://github.com/pocka", type="text/html")
    link(rel="me", href="https://twitter.com/pockaquel", type="text/html")
    link(rel="preload", href="https://fonts.googleapis.com/earlyaccess/mplus1p.css", as="style")
    link(rel="preload", href="https://fonts.googleapis.com/css?family=Cairo|Raleway|Saira+Semi+Condensed", as="style")
    link(rel="preload", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css", as="style")
    link(rel="preload", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css", as="style")
    script(src="/bundle.js", defer)
    style
      include initialView.css
    title= post ? post.title : 'log.pocka.io'
    - if (post) {
      meta(name="description", content=post.description)
      meta(name="keywords", content=post.tags.join(','))
      meta(name="author", content=post.author)
      link(rel="amphtml", href=`https://log.pocka.io/amp/${post.name}.html`)
      meta(property="og:title", content=post.title)
      meta(property="og:type", content="article")
      meta(property="og:image", content="https://avatars3.githubusercontent.com/u/13316015?s=460&v=4")
      meta(property="og:url", content=`https://log.pocka.io/posts/${post.name}`)
      meta(property="og:description", content=post.description)
      meta(property="og:locale", content="ja_JP")
    - }
  body
    #initial_view
      .initial-loader-wrapper
        .initial-loader
    #app
    script
      include ga.js
